.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    border: 1px solid black;
    box-sizing:border-box;
    padding: 20px;
}
#albums-container{
    margin-top: 40px;
}
.i-btn,.r-btn,.l-btn,.upload-btn,.create-album-btn,#get-all-albums{
    background-color: #5df693;
    color: rgb(17, 4, 4);
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    padding: 8px;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
}
.i-btn:hover, .r-btn:hover, .l-btn:hover,#logout:hover,.upload-btn:hover,.create-album-btn:hover,#get-all-albums:hover {
    background-color:yellow;
}
#page-heading{
    text-align: center;
    font-size: 30px;
}
#logout{
    background-color:rgb(242, 143, 176);
    border-radius: 18px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
}

/*Loader style*/
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1db954; /* Spotify green */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
